main {
    align-content: center;
    text-align: center;
    width: 40%;
    margin: auto;
    max-width: 500px;
    padding-top: 100px;
}

#logo {
    margin-bottom: 10;
}

.img-fluid {
    margin-bottom: 10px;
}

.input-group,
.input-group-text {
    height: 25px;
    margin-bottom: 30px;
}